@import "src/scss/abstracts/mixins";

.header {
  flex: 0 1 auto;
  padding: 1rem;

  .wrapper {
    @include wrapper;
    @include flex-column;
    align-items: center;
    justify-content: center;
  }
}